@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Roboto:wght@100;400;500;700;900&display=swap');


/* font-family: 'Roboto', sans-serif;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Roboto', sans-serif;
*/
:root{
    --colorCoco: rgb(20, 129, 20);
    --backCoco:rgb(106, 172, 106);
    --backanuncio:rgba(151, 206, 151, 0.541);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(2, 2, 2); */
    /* outline: 1px solid red; */

    
}


h1,h2,h3{
    /* width: 60px;
    height: 60px;  */
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.logo img{
    width: 60px;
    height: 60px;
}

/* Presentacion */
.section-presentacion{
    margin: auto;
    max-width: 1200px;
    /* background-color: aqua; */
} 
.presentacion{
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 25px auto;
    padding: 20px;
    /* background-color: aquamarine; */
}
.nombre{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    text-align: center;
    /* background-color: rgb(117, 112, 112); */
}
.nombre span{
    color: var(--colorCoco);
    font-size: 20px;
    font-weight: 200;
}
.nombre h1 {
    /* font-family: 'Edu TAS Beginner', cursive; */
    margin-top: 35px;
    font-size: 70px;
    font-weight: 500;
}
.nombre .letra{
    /* font-family: 'Edu TAS Beginner', cursive; */
    margin-top: 35px;
    font-size: 70px;
    font-weight: 500;
    color: var(--colorCoco);
}

.imagen{
    margin: auto;
}
.imagen img{
    max-width: max-content;
}


/* Trio productos */
.trio{
    width: 750px;
    height: 600px;
    position: relative;
    margin: 100px auto;
    border-radius: 20px;

}
.trio::before{
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: -17%;
    width: auto;
    height: auto;
    /* background-color: rgba(0, 0, 0, 0.400); */
    z-index: 99;
    border-radius: 20px;
}

.trio_ajustes{
    width: 750px;
    height: 600px;
    margin: auto;
    display: flex;
    border-radius: 20px;
}   
.ajuste_1{
    width: 400px;
    height: 600px;
    position: relative;
    border-right: 5px solid rgb(252, 252, 252);
}
.ajuste_1 img{
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    border-right: 5px solid rgb(255, 255, 255);
  
}
.ajuste_1 h2{
    position: absolute;
    bottom: 10px;
    left: 165px;
    z-index: 1000;
    color: var(--colorCoco);


    font-size: 38px;
    font-weight: 500;

     
}


.grupo{
    width: 350px;
    height: 600px;
    /* background-color: rgb(225, 34, 34); */
    position: relative;
}
.grupo1, .grupo2{
    width: 350px;
    height: 300px;
    /* background-color: brown; */
    border-radius: 20px;

}
.grupo1 img{
    width: 350px;
    height: 300px;
    object-fit: cover;  
    border-radius: 0px 20px 0 0px; 
     border-bottom: 5px solid rgb(255, 255, 255); 
}

.grupo2 img{
    width:350px;
    height: 300px;
    object-fit: cover;
    border-radius: 0px 0px 20px 0px;  
}

.grupo1 h2{
    position: absolute;
    bottom: 310px;
    left: 120px;
    z-index: 1000;
    color: var(--colorCoco);


    font-size: 38px;
    font-weight: 500;
     
}
.grupo2 h2{
    position: absolute;
    bottom: 20px;
    left: 80px;
    z-index: 1000;
    color: var(--colorCoco);


    font-size: 40px;
     font-weight: 500;
     
    /* text-shadow: 0px 0px 10px black; */
}

/* anuncios */
.anuncios{
    background-color: var(--backanuncio);
}
.trio__anuncio{
    display: flex;
    width: 1200px;
    margin: auto;
    
}
.envios ,
.cambios,
.calidad{
   
    display: flex;
    align-items: center;
    width: 400px;
    padding: 10px;
    margin: 10px;
}
.envios i ,
.cambios i,
.calidad i{
    font-size: 60px;
    padding: 20px;
}

.envios p ,
.cambios p,
.calidad p{
    width: 250px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    
}

/* destacados */

/* Slider 2 */
.productos{
    margin-top: 200px;
    margin-bottom: 200px;
}

.productos__title{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    text-align: center;

}
.productos__title .title{
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    font-weight: 400;
     
    color: var(--backCoco);
}

.swiper-wrapper{
    display: flex;
}


.card{

    width: 300px;
    height: auto;
    background-color: #f6f6f6;

    margin: 45px;
    border-radius: 30px;
}
.card__img{
    width: 100%;
    height: 300px;

}
.card__img img{
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0 0;
    object-fit:cover;
}

.card__contenido{
    text-align: center;
    margin: auto;
}
.card__contenido h2{
    text-align: center;
    padding: 5px;
    color: black;
    font-weight: 500;
}

.card__contenido p{
    font-size: 14px;
    width: 200px;
    font-weight: 100;
    text-align: center;
}

.card__contenido .contenido__btn1{
    display: block;
    width: 150px;
    height: 40px;

    padding: 10px;
    margin: 20px auto;
    text-align: center;

    color: var(--colorCoco);
    background-color: var(--backCoco);
    
    border-radius: 30px;
    /* border: 1px solid rgba(0, 0, 0, 0.338); */
    text-decoration: none;
}
.contenido__btn1{
    text-align: center;
}
.contenido__btn1:hover{
    background-color: transparent;
    border: 1px solid var(--colorCoco);
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: var(--colorCoco);
}


.cards-tabs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    margin: auto;
}
.card-tab{
    margin:20px  auto;

}
.card-tab img{
    object-fit: cover;
}